<?php

class Secrets
{
    public const MailHost = 'mail.host.ch';
    public const MailPort = 587;
    public const MailSMTPAuth = true;
    public const MailSmtpSecure = 'tls';
    public const MailUser = 'info@laden.ch';
    public const MailPassword = '42';
    public const MailFrom = 'Laden Admin';
    public const MailFromName = 'Laden Admin';

    public const DbHost = 'localhost';
    public const DbUser = 'user';
    public const DbPassword = '42';
    public const DbName = 'laden';

    public const PWExtension = 'xyz';
}
